.navDiv {
    width: 100%;
}

.navBar {
    padding-left: 100px;
    width: 100%;
    position: fixed;

}
.navItem {
    align-items: center;
    position:relative; 
    float: left;
}


.signOutButtonDiv {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 20rem;
}