.navDiv {
    width: 100%;
}

.navBar {
    padding-left: 40px;
    width: 100%;
    position: fixed;

}
.navItem {
    align-items: center;
    position:relative; 
    float: left;
    border-radius: 5px;
    padding: 0px;
}

.signOutButtonDiv {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 20rem;
}
