.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  gap: 70px;
}

.mainPanelDiv {
  min-height: 65vh;
  width: 100%;
  padding: 1rem 5rem;
}

.grid {
  display: flex;
  /* grid-template-columns: repeat(4, minmax(25%, auto)); */
  width: var(--max-width);
  max-width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 0.7rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8rem;
  line-height: 1.5;
  max-width: 30ch;
}


.signInDiv {
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
