.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100vw;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  gap: 70px;
}

.mainPanelDiv {
  min-height: 70vh;
  width: 100%;
  padding: 1rem 5rem;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  place-content: center;
  background:  #F7F8FB;
  padding: 30px;
}


.gridView {
  
  width: 100%;
  align-items: center;

  align-content: center;
  place-content: center;
  
}
.gridView p {
  text-align: center;
  margin-bottom: 10px;
}


.card {
  float: left;
  padding: 5px;
  margin-left: 1%;
  text-align: center;
 
  height: 180px;
  background-color: #FFFFFF;
}

.card h3 {
  font-size: medium;
  color: #FF7300;
  font-weight: 500;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8rem;
  line-height: 1.5;
  max-width: 30ch;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #FF7300;
  font-size: 0.8rem;
}

.middleDiv {
  margin-top: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.signInButton {
  margin-top: 25px;
  width: 10%;
  border-radius: 50px;
}