.App {
  text-align: center;
}

.App h1 {
  font-weight: 600;
  font-size: xx-large;
}

.description {
  font-size: medium;
}

.AppHeaderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 75px;
}

/* Apply general styling to the container */
.container {
  display: flex;
  justify-content: center; /* Centers the columns horizontally */
  align-items: center; /* Centers the columns vertically */
}
.headerContainer {
  display: inline-block;
  margin-top: 25px;

}
/* Apply styling to the columns */
.containerColumn {
  align-items: center;
  font-size: 18px;
  display: flex;
  margin-top: 35px;
  justify-content: center;
 
}

.containerColumn a {
  text-decoration: none;
  color: #000;
  font-size: small;
}
.buttonContainer {
  display: grid;
  margin-top: 50px;
  place-content: center;
}

.btn {
  width: 120px;
  border-radius: 500rem;
  
}

.asgardeoLogoImage {

  margin-left: 20px;
  margin-bottom: 8px;
}

.nextLogoImageLogo {

  margin-top: 10px;
}

.linkLogoImageSmall {
  padding: 10px;

}
/* 
.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100vw;
} */

.mainDiv {
  display: grid;

  
}

.mainPanelDiv {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  padding: 2rem 4rem;
}

.grid {
  display: flex;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
  place-content: center;
  flex: 1;
}

.gridView {
  
  width: 100%;
  align-items: center;
  align-content: center;
  place-content: center;
  
}
.gridView p {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.card {
  float: left;
  padding: 5px;
  width: 30%;
  margin-left: 1%;
  text-align: center;
  background-color: #FFFFFF;
}

.card strong {
  font-size: small;
 
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #FF7300;
  font-size: 0.8rem;
}

/* getStartedSectionComponent */

/* getStartedSectionComponent-GetStartedText-Div */
.getStartedSectionComponentGetStartedTextDiv {
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin-top: 3%;
}

/* getStartedSectionComponent-GetStartedText-Panel */
.getStartedSectionComponentGetStartedTextPanel{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* getStartedSectionComponent-GetStartedText-P */
.getStartedSectionComponentGetStartedTextP {
  text-align: center ;
  font-size: medium;
max-width: 800px;
}

