.tableMainPanelDiv {
    display: flex;
   flex-direction: column;
    gap: 40px;
    height: 100%;
}

.addUserMainDiv {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addButton{
    width: 25%;
    border-radius: 50px;
}

.nextLogoImage {
    width: 30%;
    padding: 10px;
    margin-left: 150px;
  
  }

/* getStartedSectionComponent */

/* getStartedSectionComponent-GetStartedText-Div */
.getStartedSectionComponentGetStartedTextDiv {
    height: 45vh;
    justify-content: center;
    align-items: center;
}

/* getStartedSectionComponent-GetStartedText-Panel */
.getStartedSectionComponentGetStartedTextPanel{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* getStartedSectionComponent-GetStartedText-P */
.getStartedSectionComponentGetStartedTextP {
    text-align: center ;
    font-size: medium;
}


.idp__template__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.idp__template__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: whitesmoke 1px solid;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.idp__template__card:hover {
    background-color: rgba(245, 245, 245, 0.2);
    transition: background-color 10ms linear;
    cursor: pointer;
}

.idp__list {
    width: 100%;
    margin-top: 10px;
}

.idp__list__item {
    padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.idp__list__item small {
    font-weight: lighter;
    font-size: 12px;
}

.idp__item__details {
    width: 100px;
}
  
.modal {
    border-radius: 5px;
}